<div class="sidebar">
    <div class="sidebar-sticky">
      <div class="sidebar-about">
        <h1>
          <a href="/pages/community.html">
            COMMUNITY BOARD
          </a>
        </h1>

        <a href="#guest_book">⋆ Sign the guest book! ⋆</a>
        <br>
        <a href="#poems">⋆ Poems from the Masses ⋆</a>
        <br>
        <a href="#essays">⋆ Essays from the Masses ⋆</a>
        <br>
        <a href="#music">⋆ Music We Make ⋆</a>
        <br>
        <a href="#groups">⋆ NYC interest groups that are lowkey radical ⋆</a>
        <br>
        <a href="#misc">⋆ Misc Contributions ⋆</a>
        <br><br>
        <p class="lead">I hope you like it :)</p>
      </div>
  
      <nav class="sidebar-nav">
      </nav>
    </div>
</div>