<div class="sidebar">
    <div class="sidebar-sticky">
      <div class="sidebar-about">
        <h1>
          <a href="/pages/community.html">
            COMMUNITY BOARD
          </a>
        </h1>

        <a href="#guest_book">⋆ Guest book ⋆</a>
        <br>
        <a href="#poems">⋆ Poems ⋆</a>
        <br>
        <a href="#essays">⋆ Essays ⋆</a>
        <br>
        <a href="#music">⋆ Sounds ⋆</a>
        <br>
        <a href="#misc">⋆ Misc ⋆</a>
        <br>
        <a href="#groups">⋆ NYC interest groups ⋆</a>
        <br><br>
        <p class="lead">I hope you like it :)</p>
      </div>
  
      <nav class="sidebar-nav">
      </nav>
    </div>
</div>