<div id = "inner-gamebox">

  <!-- Magnets -->
  <div id="magnet1" draggable="true" class="draggable">more</div> 
  <div id="magnet2" draggable="true" class="draggable">lady</div>
  <div id="magnet3" draggable="true" class="draggable">is</div>
  <div id="magnet4" draggable="true" class="draggable">a</div>
  <div id="magnet5" draggable="true" class="draggable">power</div>
  <div id="magnet6" draggable="true" class="draggable">men</div>
  <div id="magnet7" draggable="true" class="draggable">we</div>
  <div id="magnet8" draggable="true" class="draggable">be</div>
  <div id="magnet9" draggable="true" class="draggable">oppress</div>
  <div id="magnet10" draggable="true" class="draggable">sisterhood</div>
  <div id="magnet11" draggable="true" class="draggable">ing</div>
  <div id="magnet12" draggable="true" class="draggable">freedom</div>
  <div id="magnet13" draggable="true" class="draggable">choose</div>
  <div id="magnet14" draggable="true" class="draggable">vote</div>
  <div id="magnet16" draggable="true" class="draggable">ass</div>
  <div id="magnet17" draggable="true" class="draggable">and</div>
  <div id="magnet18" draggable="true" class="draggable">tits</div>
  <div id="magnet19" draggable="true" class="draggable">overthrow</div>
  <div id="magnet15" draggable="true" class="draggable">God</div>
  <div id="magnet20" draggable="true" class="draggable">she</div>
  <div id="magnet21" draggable="true" class="draggable">love</div>
  <div id="magnet22" draggable="true" class="draggable">coup</div>

  <!-- DragDropTouch needed to support mobile -->
  <script src="{{ "/assets/javascript/DragDropTouch.js" | relative_url }}" ></script>
  
  <script>
    var max_z_index = 100;
    var draggableElements = document.getElementsByClassName("draggable");

    for(var i = 0; i < draggableElements.length; i++){
        dragElement(draggableElements[i]);
    }

    function dragElement(elmnt) {
      var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

      // Needed to stop text highlighting on mobile
      elmnt.ontouchstart = function(e) {
        e.preventDefault();
      }

      elmnt.onmousedown = dragMouseDown;

      function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();

        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;

        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;

        // put this div on top
        e.target.style.zIndex = max_z_index;
        max_z_index = max_z_index + 1;
      }

      function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
      }

      function closeDragElement() {
        /* stop moving when mouse button is released:*/
        document.onmouseup = null;
        document.onmousemove = null;
      }
    }
  </script>

</div>


