<div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1>
          <a href="/pages/my_content.html">
            STUFF I MAKE
          </a>
        </h1>

        <a href="#essays">⋆˚୨୧˚ Essays ˚୨୧˚⋆</a>
        <br>
        <a href="#poetry">⋆⭒❀˚ Poetry °❀.ೃ࿔</a>
        <br>
        <a href="#music">⊹₊⋆ Music ⋆₊⊹</a>
        <br><br>
        <p class="lead">I hope you like it :)</p>
      </div>
  
      <nav class="sidebar-nav">
      </nav>
    </div>
</div>