/*
Stylesheet for fridge magnet poetry
*/

#gamebox {
  height: 20em;
  padding: 30px;
  border: 3px solid #aaaaaa;
  background-color: #f2f0ef;
  position: relative;
  overflow: hidden;
}

#inner-gamebox {
  position: absolute;
}

.draggable {
  position: absolute;
  border: 1px solid #d3d3d3;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 2px 5px;
  cursor: move;
  background-color: #2196F3;
  color: #fff;
  -webkit-user-select: none;
  user-select: none;
}
