/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.my_content {
    padding-top:    4rem;
    padding-bottom: 4rem;
    padding: 2em;
}
  
@media (min-width: 48em) {
    .my_content {
      max-width: 38rem;
      margin-left: 20rem;
      margin-right: 2rem;
    }
}
  
@media (min-width: 64em) {
    .my_content {
      margin-left: 22rem;
      margin-right: 4rem;
    }
}

.my_content h1,h2,h3 {
  font-size: 2em;
  text-align: center;
}

.my_content .section-header{
  background-color: $brand-color-dark;
  padding: 0.1em;
  border-radius: 15px;
}

.my_content a:hover {
  background: $highlight;
}
