$brand-color:         #174e9c;
$highlight:           lighten($brand-color, 35%);
$text-color:          #b7f754;
$muted-text-color:    #ecedea;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;